.card-wrap {
  width: 100%;
  margin-bottom: 20px;
  // text-align: center;
}

#components-form-demo-form-context .user {
  margin-bottom: 8px;
}

#components-form-demo-form-context .user .ant-avatar {
  margin-right: 8px;
}